
checkpoints/*
logs/*
config/path.yaml
config/*
src/__pycache__/
src/data.py
src/evaluate.py
src/separate.py
src/train.py
src/preprocess.py
data/*/mix_sdr/*.json
/test_*.py
/result/*
data/make-mix/__pycache__/
done_exp/*
good/*
layer_sim/*
plot/*
